* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background: #EEEEEF;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}


.nav1 {
    background: #10BBD5;
    display: flex;
    height: 72px;
    padding: 16px 52px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #f8fdfe;
    font-size: 24px;
    font-weight: 700;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.basket span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.btn-basket {
    width: 40px;
    height: 40px;
    background: #10BBD5;
    border: #10BBD5;
    position: relative;
}

.img-basket {
    width: 33.126px;
    height: 21.667px;
    flex-shrink: 0;
}

.img-basket-o {
    width: 8.333px;
    height: 8.333px;
    flex-shrink: 0;
    position: relative;
    left: 2px;
    bottom: 3px;
}

.btn-basket span {
    display: flex;
    justify-content: center;
    color: #000;
    font-style: normal;
    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 9px;
    left: 19px;
    font-family: 'Cabin', sans-serif;
}

.nav2 {
    display: flex;
    padding: 4px 52px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #FFF;
}

.nav2 span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.nav2 ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav2 a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}


main {
    margin-top: 100px;
}

.title {
    padding: 32px 0 23px;
    font-size: 32px;
    font-weight: 400px;
    line-height: 40px;
    border-bottom: 1px solid #a8a8aa;
    margin: 0 52px 0 52px;
}

.plan-cards {
    display: flex;
    justify-content: space-between;
    padding: 24px 52px 0;
}

.seting-card {
    width: 306px;
    height: 542px;
    border: 1px solid #A8A8A8;
    background: #F8FDFE;

}

.plan-cont {
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.plan-cont img {
    position: relative;
    left: 33px;
}


.text-card h3 {
    overflow: hidden;
    color: #1F1F1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.text-card p {
    color: #8E8E8E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-top: 1px solid #A8A8A8;

}

.text-card span {
    color: #E90000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.btn-cards {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4C394E;
    border: solid #4C394E
}

.btn-cards span {
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.btn-cards:hover {
    border-radius: 4px;
    background: #744978;
    border: solid #744978;
}

.btn-cards-green {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4D762D;
    border: solid #4D762D;

}

.btn-cards-green span {
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.btn-cards-green:hover {
    border-radius: 4px;
    background: #6DB236;
    border: solid #6DB236;
}

.sell {
    color: #8E8E8E;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-left: 24px;
}

.chips-hit {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.chips-new {
    display: flex;
    position: absolute;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #AF39E7;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.chips-off {
    display: flex;
    position: absolute;
    right: 160px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.chat-btn {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    position: fixed;
    top: 725px;
    right: 30px;
    border: none;
    background: none;
}

.img-back {
    width: 64px;
    height: 64px;
    flex-shrink: 0;

}

.img-icon {
    width: 51.2px;
    height: 51.2px;
    flex-shrink: 0;
    position: absolute;
    right: 7px;
    top: 7px;
}

.img-icon:hover {
    transform: rotate(12.05deg);

}

footer {
    margin-top: 120px;
    padding: 16px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
    background-color: #4C394E;
}

footer span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}